*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow-x: hidden;
}

header {
    width: 100vw;
    height: 80px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 105px;

}

header .nav {
    /* border: 2px solid blue; */
    height: 80%;
}

header .logo {
    width: 107px; 
    width: 12%;
}
header .logo img {
    width: 100%;
    height: 100%;
}

header .main-nav {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 60px ;

}

header .main-nav a {
    text-decoration: none;
    color: #626D7B;
    font-size: 20px;
}

header .main-nav .nav-one {
    display: flex;
    gap: 30px;
}

header .main-nav .contact {
    background-color: #2CBFA3;
    color: #ffff;
    /* border: 1px solid red; */
    font-size: 22px;
    border-radius: 20px;
    padding: 7px 30px;
} 
header .main-nav .contact:hover {
    background-color: black;
} 



main section {
    display: flex;
    flex-direction: column;
    height: 2000px;
    width: 100vw;
    /* border: 2px solid red; */
}
main .sec-one {
    height: 100vh;
    width: 100%;
    background-color: green;
    padding: 50px 420px 50px 95px;
    background-image: url('./imgs/Home-Banner.webp');
    display: flex;
    flex-direction: column;
    gap: 50px;
    /* position: relative; */
    
}

main .sec-one p {
    color: #ffff;
    font-size: 20px;
    font-weight: bold;
}

main .sec-one h2 {
    color: #2CBFA3;
    font-size: 70px;

}


main .sec-one .button p {
    color: #2CBFA3;
    font-weight: normal;
    display: inline-block;
    padding: 5px 10px;
}

main .sec-one i {
    color: black;
    background-color: #2CBFA3;
    font-size: 20px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 45%;
}


main .sec-one .button p:hover {
    background-color: #2CBFA3;
    color: white;
    border-radius: 20px;
    direction: rtl;
}

main .sec-one .button i:hover {
    color: white;
}

main .sec-two {
    background-color: #ffff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 85px;
    padding: 25px 110px;
    margin: -10px 0px;
    width: 100%;
    /* border: 2px solid black; */
}

main .sec-two .words h2 {
    color: #2CBFA3;
    font-size: 50px;
}

main .sec-two .words p {
    color: #666666;
    font-size: 20px;
    line-height: 40px;
    font-weight: normal;
    margin: 25px 0px;
}

main .sec-two .card-list {
    display: flex;
    flex-direction: column;
    height: 1410px;
    width: 100%;
    color: white;
}



main .sec-two .card-list .card-one {
    width: 100%;
    height: 470px;
    background-color: #6BE5B2;
    color: black;
    border-radius: 20px;
    padding: 30px 25px;
    display: flex;
    flex-direction: row;
}

main .sec-two .card-list .card-one .number {
    /* border: 2px solid red; */
    line-height: 30px;
}

main .sec-two .card-list .card-one .content {
    /* border: 2px solid yellow; */
    color: black;
    padding-left: 20px;
    line-height: 30px;
    font-weight: normal;
    margin-left: 20px;
}



main .sec-two .card-two {
    width: 100%;
    height: 470px;
    background-color: #2CBFA3;
    color: white;
    border-radius: 20px;
    padding: 30px 25px;
    display: flex;
    flex-direction: row;
}

main .sec-two .card-list .card-two .number {
    /* border: 2px solid red; */
    line-height: 30px;
}

main .sec-two .card-list .card-two .content {
    /* border: 2px solid yellow; */
    padding-left: 20px;
    line-height: 30px;
    font-weight: normal;
    margin-left: 20px;
}



main .sec-two .card-three {
    width: 100%;
    height: 470px;
    background-color: #012626;
    color: white;
    border-radius: 20px;
    padding: 30px 25px;
    display: flex;
    flex-direction: row;
}

main .sec-two .card-list .card-three .number {
    /* border: 2px solid red; */
    line-height: 30px;
}

main .sec-two .card-list .card-three .content {
    /* border: 2px solid yellow; */
    padding-left: 20px;
    line-height: 30px;
    font-weight: normal;
    margin-left: 20px;
}

 
main .sec-two .card-list .content h3 {
    font-size: 35px;
    letter-spacing: 4px;
    font-weight: 500;
}

main .sec-two .card-list .content .cont {
    display: flex;  
}

main .sec-two .card-list .content .cont p {
    font-size: 21px;
    margin-right: 120px;
}

main .sec-two .card-list .content .cont td {
    padding: 0px 50px 15px 0px;
    font-size: 21px;
    font-weight: bold;
    
}

main .sec-two .card-list .content .cont .button {
    font-size: 22px;
    text-decoration: underline;
    display: inline-block;
    font-weight: bold;
}




main .sec-three {
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px 0px;
    margin: 20px 0px;
    height: 20%;
    width: 100%;
    /* border: 2px solid violet; */
}

main .sec-three .overview {
    text-align: center;
    font-weight: bold;

}

main .sec-three .down {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 50px 10px;
}

main .sec-three .int {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

main .sec-three .in {
    font-size: 100px;
    color: #2cbfa3;
}


main .sec-four {
    background-color: #F8F8F9;
    display: flex;
    flex-direction: column;
    padding: 25px 110px;
    height: 120vh;
    width: 100%;
    
}

main .sec-four .discover {
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 100%;
    /* border: 2px solid grey; */

}

main .sec-four .discover article {
    width: 70%;
}

main .sec-four .arrow {
    width: 30%;
    text-align: right;
    padding-top: 200px;

}
main .sec-four .arrow i {
    flex-grow: 4;
    background-color: #2CBFA3;
    margin: 15px;
    padding: 20px;
    border-radius: 50%;
}

main .sec-four .discover p {
    font-size: 21px;
    line-height: 40px;
}

main .sec-four .discover h2 {
    color: #2CBFA3;
    font-size: 50px;
    line-height: 50px;
}

main .sec-four .case {
    /* border: 2px solid red; */
    color: #2CBFA3;
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

main .sec-four .case p {
    font-size: 21px;
}
main .sec-four .case h3 {
    font-size: 26px;
}
main .sec-four .case .button {
    font-size: 20px;
    text-decoration: underline;
}

main .sec-four .case .health {
    background-color: #012626;
    border-radius: 5px;
    padding: 10px;
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}


main .sec-four .case .lansinoh {
    background-color: #012626;
    border-radius: 10px;
    padding: 10px;
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

main .sec-four .case img {
    width: 100%;
    height: 55%;
    border-radius: 5px;
}


main .sec-five {
    width: 100%;
    height: 150vh;
    position: relative;
    background-color: rgba(45,115,105,0.7);
    
}

main .sec-five .back-video {
    width: 100%;
    height: 150vh;
    object-fit: cover;
    margin: 0px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

main .sec-five .text-content {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 0px;
    padding: 80px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
}

main .sec-five .text-content img{
    width: 110px;
    height: 100px;
}

main .sec-five .text-content p {
    font-size: 21px;
    
}

main .sec-five .text-content h2 {
    font-size: 60px;
}




main .sec-six {
    padding: 110px;
    background-color: #F3F3F3;
    width: 100%;
    height: 1800px;
    font-size: 21px;
    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 20px 20px;
    bottom: 0;
    right: 0;
    z-index: 1;
    position: relative; 
}

main .sec-six .top h2 {
    font-size: 50px;
    color: #2CBFA3;
}

main .sec-six .quote {
    background-color: white;
    border-radius: 20px;
    height: 600px;
    width: 100%;
    padding: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

main .sec-six .quote blockquote {
    color: #2CBFA3;
    font-size: 35px;
}

main .sec-six .quote figcaption {
    display: flex;
    align-items: center;
    gap: 30px;
}

main .sec-six .quote figcaption img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

main .sec-six .quote figcaption .name {
    font-style: normal
}

main .sec-six .quote hr {
    border-top: 2px solid #2CBFA3;
}

main .sec-six .quote .arrow {
    display: flex;
    align-items: center;
    gap: 20px;
}



main .sec-six .client hr {
    border-top: 2px solid #2CBFA3;
    margin: 50px 0px;
}

main .sec-six .client h2 {
    font-size: 40px;
    color: #2CBFA3;
    text-align: center;
}

main .sec-six .client .imag {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    height: 750px;
    width: 100%;
    padding: 55px;
    /* border: 2px solid greenyellow; */
}
    
main .sec-six .client .imag .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid black; */
    width: 48%;
    height: 700px;
}

main .sec-six .client .imag .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid black; */
    width: 48%;
    height: 700px;
    
}

main .sec-six .client .imag img {
    height: 126px;
    width: 360px;
    padding: 10px 50px;
    margin-bottom: 40px;
    border: 2px solid #dddddd;
    border-radius: 20px;
}


footer {
    background-color: #012626;
}

footer section {
    display: flex;
    flex-direction: column;
    color: white;
    height: 600px;
    width: 100vw;
    margin: -20px 0px 0px;
    /* border: 2px solid red; */
}

footer .touch {
    height: 520px;
    width: 100%;
    /* border: 2px solid red; */
    padding: 80px 100px 0px;
    display: flex;
    flex-direction: row;
}

footer .touch .main {
    width: 60%;
    height: 100%;
}

footer .touch .main p {
    font-size: 21px;
    color: #2CBFA3;
}

footer .touch .main h3 {
    font-size: 50px;
}


footer form {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

footer form label {
    color: #7B7B7B;
    opacity: 1;
    padding: 5px 15px;
    font-size: 16px;
    display: none;
}

footer form input {
    height: 30px;
    width: 100%;
    margin-bottom: 30px;
    background-color:transparent;
    border: 0px solid;
    border-bottom: 1px solid #7B7B7B;
}

footer form input:focus {
    outline: none;
}

footer form ::placeholder {
    color: #7B7B7B;
    opacity: 1;
    padding: 5px 15px;
    font-size: 16px;
}

footer form #message {
    height: 100px;
    width: 100%;
    margin-top: 3px;
}

footer form  .msg {
    display: block;
}

footer form button {
    height: 50px;
    width: 130px;
    padding: 5px;
    background-color: transparent;
    color: white;
    font-size: 20px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;    
}

footer form button:hover {
    background-color: #2CBFA3;
    padding-left: 15px;
    color: white;
    border-radius: 20px;
    direction: rtl;
}

footer hr {
    border-top: 2px solid #2CBFA3;
    margin: 0px 100px;
}

footer .floor {
    display: flex;
    flex-direction: row;
    height: 100%;
    width:100vw;
    padding: 40px 100px;
}

footer .floor .list {
    height: 100%;
    width: 60%;
    margin-left: 20px;
}

footer .floor table {
    width: 100%;
    height: 100%;
    text-align: left;
    
}

footer .floor .list tr {
    height: 50px;
}

footer .floor .list th {
    height: 30px;
    text-decoration: none;
    color: #2CBFA3;
    font-size: 16px;
}


footer .floor .list td a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    /* border: 2px solid blue; */

}

footer .floor .side {
    width: 30%;
    height: 100%;
    text-align: right;
}

footer .floor .side img {
    padding: 10px 0px 50px;

}
footer .floor .side p {
    margin: 20px;
    font-size: 18px;

}

footer .floor .side a {
    text-decoration: underline;
    font-size: 18px;
    color: white;

}

footer .floor .side .fa {
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 5px;
    margin: 10px;
    text-align: center;
    height: 40px;
    width: 40px;
    border: 3px solid white;
    border-radius: 10px;

}

