#anim {
    height: 215px;
    width: 140px;
    /* border: 2px solid white; */
    background-image: transparent;
    display: grid;
    column-gap: -2px;
    row-gap: -2px;
    grid-template-columns: auto auto;
    border: none;
    border-width: 0;
    position: relative;
}

#anim::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #20304D, #0F5756);
    z-index: 2;
    animation: celeb 5s  ease-in-out infinite;
}

@keyframes celeb {
    30% { width: 100%; height: 0;}
    70% {width: 100%; height: 0;}
    100% {width: 100%; height: 100%;}
}

#anim #dataimg {
    width: 70px;
    height: 71px;
}

#anim #dataimg img {
    width: 100%;
    height: 100%;
}

#anim .yes {
    position: relative;
}

#anim #dataimg .under {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

}
#anim #dataimg .top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}











main .sec_4 .wrap {
    display: flex;
    align-items: center;
    color: white;
    font-size: 100px;
    font-weight: 500;
}

main .sec_4 .wrap .static {
    font-size: 70px;
    font-weight: 600;
}

main .sec_4 .wrap .dynamic {
    margin-left: 20px;
    line-height: 90px;
    height: 90px;
    overflow: hidden;
}

main .sec_4 .wrap .dynamic li {
    font-size: 70px;
    font-weight: 600;
    list-style-type: none;
    text-decoration: red underline;
    text-underline-position: under;
    text-decoration-thickness: 3px;
    position: relative;
    top: 0;
    animation: things 12s steps(4) infinite;   
}

@keyframes things {
    100% {top:-360px;
    }    
}

main .sec_4 .wrap .dynamic li::after {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #4716ED;
    animation: typet 3s steps(15) infinite;
}

@keyframes typet {
    30%,
    80% { left: 100%}
    100% {left: 0;}
}

