@import url(./main.css);

header {
    width: 100vw;
    height: 100px;
    padding: 0px 45px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
}

header .left {
    width: 135px;
    height: 70%;
}

header .left img {
    width: 100%;
    height: 100%;
}

header .center {
    width: 55%;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 17px;
    color: black;
}

header .center a, header .center i {
    color: black;
    font-weight: bold;
}

header .right {
    width: 17%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .right i {
    font-size: 20px;
}

