@import url(./header.css);
@import url(./main.css);
@import url(./animation.css);
@import url(./footer.css);


body {
    width: 100vw;
}

main {
    width: 100%;
}

main .sec {
    padding: 0px 45px;
}
main .sec_1 {
    height: 105vh;
    width: 100%;
    background-image: linear-gradient(to bottom right, #FFD201, #FF5438);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 60px;
}

main .sec_1 article {
    padding-top: 35px;
    width: 50%;
    /* border: 2px solid black; */
}

main .sec_1 article h2, p {
    padding-bottom: 20px;
    opacity: 0.8;
}

main .sec_1 article i {
    color: white;
    padding-right: 10px;
}

main .sec_1 button:hover > i {
    color: #300A44;
}


main .sec_1 .image {
    width: 42%;
    height: 100%;
}

main .sec_1 .image img {
    width: 100%;
    height: 100%;
}


main .sec_2 {
    width: 100%;
    height: 110vh;
    background-image: linear-gradient( to bottom, #300A44, #007D60);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 140px 40px;
}

main .sec_2 .left {
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 95px;
}

main .sec_2 .right {
    width: 50%;
    color: white;
    display: block;
}

main .sec_2 .right h2, p, button {
    margin-bottom: 20px;
}

main .sec_3 {
    width: 100%;
    height: 350vh;
    background-color: white;
    display: block;
    /* border: 2px solid red; */
    padding-top: 80px;
    padding-bottom: 80px;
}

main .sec_3 h2 {
    margin: 10px 0px;
}

main .sec_3 .all {
    width: 100%;
    height: 285vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0px;
    /* border: 2px solid red; */
}

main .sec_3 .all .nest {
    width: 100%;
    height: 49.3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 2px solid purple; */
}

main .sec_3 .all .nest .card {
    width: 49%;
    height: 100%;
    color: black;
    border: 1px solid rgba(128, 128, 128, 0.297);
    border-radius: 20px;
    display: block;
}

main .sec_3 .all .nest .card:hover {
    box-shadow: 1px 8px 10px rgba(128, 128, 128, 0.381);
    border: 1px solid black;
    transition: 0.5s;
}

main .sec_3 .all .nest .card a .image {
    height: 100vh;
    width: 100%;
    /* border: 2px solid blue; */
}

main .sec_3 .all .nest .card a .image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
}

main .sec_3 .all .nest .card a article {
    width: 100%;
    height: 28.2%;
    color: black;
    /* border: 2px solid violet; */
    padding: 42px 38px;
    display: inline-block;
    opacity: 0.8;
}

main .sec_3 .all .nest .card a article h4 {
    font-size: 27px;
    padding-bottom: 15px;
}

main .sec_3 button {
    display: block;
    margin: auto;
}

main .sec_4 {
    width: 100%;
    height: 120vh;
    background-color: #4716ED;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

main .sec_4 article {
    width: 60%;
    color: white;
    display: block;
}

main .sec_4 article p {
    font-size: 25px;
    font-weight: bold;
    color: white;
    opacity: 1;
    margin-bottom: -10px;
}

main .sec_4 article .wrap {
    width: 100%;
    margin-bottom: 80px;
}

main .sec_4 .grad {
        width: 45%;
}


main .sec_5 {
    width: 100%;
    height: 250vh;
    background-color: #300A44;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .sec_5 .main {
    width: 100%;
    height: 150vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

main .sec_5 .main .flexible {
    width: 40%;
    height: 100%;
    display: block;
}

main .sec_5 .main .flexible button {
    margin: 50px 0px;
}

main .sec_5 .main .explore {
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 2px solid blue; */
}

main .sec_5 .main .explore .contain {
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
}

main .sec_5 .main .explore .contain section {
    width: 40%;
}

main .sec_5 .main .explore .contain article {
    width: 60%;
    display: block;
}

main .sec_5 .main .explore .contain article h3 {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 20px;
}


main .sec_5 .bottom {
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

main .sec_5 .bottom h3 {
    font-size: 40px;
    font-weight: 500;
    width: 20%;
    line-height: 40px;
}

main .sec_5 .bottom .table {
    display: flex;
    flex-direction: row;
    width: 75%;
    /* border: 2px solid pink; */
    justify-content: space-between;
}

main .sec_5 .bottom .table .table_columns {
    display: flex;
    flex-direction: column;
}

main .sec_5 .bottom .table .table_columns h3 {
    width: 100%;
    font-size: 30px;
    line-height: 95px;
    border-bottom: 1.5px solid white;
}

main .sec_5 .bottom .table .table_columns a p {
    font-size: 17px;
    width: 240px;
    border-bottom: 1.5px solid white;
    display: flex;
    flex-direction: row;
    gap: 7px;
    padding-top: 20px;
    align-items: center;
    color: white;
    /* background: blue; */
    margin-bottom: -2px;
}

main .sec_5 .bottom .table .table_columns a p i {
    color: white;
}

main .sec_5 .bottom .table .table_columns a:hover {
    background-color: rgba(255, 255, 255, 0.258);
}



main .sec_6 {
    height: 235vh;
    width: 100%;
    background-image: linear-gradient( to bottom right, #FFD300, #FF5438);
    display: flex;
    flex-direction: column;
    padding-top: 85px;
    padding-bottom: 85px;
}

main .sec_6 .b_corp {
    width: 80%;
    height: 100vh;
    /* border: 2px solid red; */
}

main .sec_6 .b_corp #p_one {
    font-weight: light;
    margin-top: 20px;
}

main .sec_6 .image {
    height: 135vh;
    width: 100%;
    /* border: 2px solid red; */
}

main .sec_6 .image img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

main .sec_7 {
    width: 100%;
    height: 130vh;
    background-image: url('../images/people_banner.webp');
    background-size: cover;
    background-position: right;
}

main .sec_7 .content {
    position: relative;
    height: 330px;
    width: 50%;
    top: 350px;
    left: 550px;
    right: 45px;
    /* border: 2px solid red; */
    color: white;
    display: block;
}

main .sec_7 .content h2 {
    margin-top: -15px;
    margin-bottom: 20px;
}

main .sec_8 {
    height: 170vh;
    width: 100%;
    padding-top: 90px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
}

main .sec_8 .head {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

main .sec_8 .head a {
    color: rgba(0, 0, 0, 0.612);
    align-self: center;
}

main .sec_8 .head a i {
    color: #4716ED;
}

main .sec_8 .posts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 120vh;
}

main .sec_8 .posts .card {
    width: 32%;
    height: 75%;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.128);
}

main .sec_8 .posts .card:hover {
    border: 1px solid black;
    box-shadow: 1px 8px 10px rgba(128, 128, 128, 0.4);
    transition: 0.5s;
}

main .sec_8 .posts .card:nth-child(2) {
    height: 95%;
}

main .sec_8 .posts .card:nth-child(3) {
    height: 100%;
}

main .sec_8 .posts .card a .image {
    width: 100%;
    height: 210px;
    border-radius: 30px 30px 0px 0px;
    /* border: 2px solid red; */
}

main .sec_8 .posts .card a .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

main .sec_8 .posts .card a article {
    padding: 30px;
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.792);
}
main .sec_8 .posts .card a article .read {
    font-family: 'Courier New', Courier, monospace;
}

main .sec_8 .posts .card a article h3 {
    font-size: 25px;
    margin-top: -20px;
    margin-bottom: 15px;

}

main .sec_8 .posts .card a article #main {
    font-size: 20px;
}

main .sec_8 .posts .card a article .foot {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    /* border: 2px solid red; */
    margin-top: -20px;
}

main .sec_8 .posts .card a article .foot img {
    border-radius: 50%;
    height: 47px;
    width: 47px;
    align-self: flex-start;
}

main .sec_8 .posts .card a article .foot p {
    align-self: center;
    font-size: 12px;
}

main .sec_9 {
    width: 100%;
    height: 360vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, #300A44, #007D60);
    padding-top: 80px;
    padding-bottom: 80px;
}

main .sec_9 .head {
    width: 70%;
    height: 400px;
    color: white;
    /* border: 2px solid white; */
}

main .sec_9 .resource {
    width: 100%;
    margin-top: 3vh;
    height: 265vh;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
}

main .sec_9 .resource .two_cards {
    width: 100%;
    height: 49%;
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 30px;
    margin-bottom: 30px;
}

main .sec_9 .resource .two_cards .carde {
    width: 49%;
    height: 100%;
    justify-content: space-between;
}

main .sec_9 .resource .two_cards .carde:hover {
    border: 1px solid white;
    border-radius: inherit;
}

main .sec_9 .resource .two_cards .carde a .image {
    width: 100%;
    height: 38%;
    border-radius: 30px 30px 0px 0px;
    /* border: 2px solid red; */
}

main .sec_9 .resource .two_cards .carde a .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

main .sec_9 .resource .two_cards .carde a article {
    height: 62%;
    width: 100%;
    padding: 35px;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: rgba(0, 0, 0, 0.792);
    border-radius: 0px 0px 30px 30px;
}
main .sec_9 .resource .two_cards .carde a article .reade {
    font-family: 'Courier New', Courier, monospace;
}

main .sec_9 .resource .two_cards .carde a article h3 {
    font-size: 25px;
    margin-top: -10px;
    margin-bottom: 15px;
}

main .sec_9 .resource .two_cards .carde a article #maine {
    font-size: 20px;
    line-height: 25px;
}

main .sec_9 .resource .two_cards .carde a article .foote {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    /* border: 2px solid red; */
    margin-top: -20px;
}

main .sec_9 .resource .two_cards .carde a article .foote img {
    border-radius: 50%;
    height: 47px;
    width: 47px;
    align-self: flex-start;
}

main .sec_9 .resource .two_cards .carde a article .foote p {
    align-self: center;
    font-size: 12px;
}

main .sec_10 {
    background-color: white;
    width: 100%;
    height: 335px;
    padding: 80px 110px;
    display: block;
}

main .sec_10 .awards {
    display: flex;
    justify-content: space-between;
}

main .sec_10 button {
    margin-top: 50px;
    position: relative;
    left: 40%;
}





